{% extends "layout.html" %}
{% block body%}
<div class="row mt-5">
        <div class="col text-white bg-dark p-5 border rounded shadow">
            <h3 class="text-warning text-center">Acerca de nosotros</h3>
            <h5 class="mt-5 lh-base">Esta página surge con el objetivo de mejorar la atención a nuestros clientes, que ven la necesidad de realizar sus compras sin tener que desplazarse a una tienda física.
                Pero no nos quedamos ahí, nosotros les ofrecemos a nuestros clientes una atención personalizada, brindando la asesoría necesaria, con el fin de que realicen sus compras de la manera más cómoda y que satisfagan sus necesidades.
                Desde sus inicios hace 7 años como cadena de tiendas especializada en venta de tecnología, nos hemos enfocado en la prestación de un excelente servicio al cliente, un manejo de precios competitivos y estar a la vanguardia con los productos más innovadores del mercado.
                Todos los productos que comercializamos en nuestra empresa tienen la garantía y el respaldo de sus fabricantes, además les garantizamos su originalidad.</h5>
        </div>
</div>
{% endblock %}