{% extends "layout.html" %}
{% block body%}
<div class="row mt-5">
        <div class="col text-white bg-dark p-5 border rounded shadow">
            <h3 class="text-warning text-center">Eliminar: {{componente.nombre}}</h3>
            <h5 class="text-center mt-5">¿Estas seguro?</h5>
            <div class="d-flex form-group justify-content-center">
                <form method="POST">
                {%csrf_token %}
                    <button class="btn btn-danger center mt-5"> Eliminar</button>
                </form>
                </div>
        </div>
</div>
{% endblock %}