{% extends "layout.html" %}
{% block body%}
<div class="row mt-5">
        <div class="col text-white bg-dark p-5 border rounded shadow">
            <h3 class="text-warning text-center">{{componente.categoria}}: {{componente.nombre.upper}}</h3>
            <div class=" row mt-5">
                <div class="col">
                    <img src="{{componente.imagen.url}}" class="img-fluid" alt="{{componente.nombre}}">
                </div>
                <div class="col d-flex align-items-center">
                    <p class="lh-lg fs-4"> {{componente.caracteristica}}</p>
                </div>
            </div>
            <div class="d-flex  mb-3">
                    <p  class="ms-auto fs-4 text-success">${{componente.precio}}</p>
            </div>
            <div class="d-flex  mb-3">
                <a class="ms-auto btn btn-outline-warning me-1" href="{%url 'add-to-cart' componente.id %}">Añadir al carrito</a>
            </div>
        </div>
</div>
{% endblock %}