{% extends "layout.html" %}
{% block body%}
<div class="row mt-5">
    <div class="col text-white bg-dark p-5 border rounded shadow">
        <div class="row">
            <div class="col rounded shadow bg-dark">
                {%if searched%}
                    <h3 class="text-center mt-4 text-white">Resultados de la busqueda: {{searched}}</h3>
                {%endif%}
                {%if not products%}
                <h3 class="text-center mt-4 text-white">No se encontraron resultados para su busqueda</h3>
                {%endif%}
                <div class="list-group">
                    <a href="#">{{last}}</a> 
                    {%for product in products%}
                        {%if user.is_staff%}
                            <a href="{% url 'update-product' product.pk %}" class="list-group-item list-group-item-action bg-dark" aria-current="true">
                        {%else%}
                            <a href="{% url 'product-detail' product.pk %}" class="list-group-item list-group-item-action bg-dark" aria-current="true">
                        {%endif%}
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-warning">{{product}}</h5>
                            </div>
                            <p class="text-white mb-1">{{product.caracteristica}}</p>
                        </a>
                    {%endfor%}
                </ol>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}