* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
  flex: 10%;
  padding: 20px;
  background-color: cornflowerblue;
}
.header > button {
  right: 20px;
  right: 10px;
}
#imgLogo {
  padding: 2px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex: 15%;
  padding: 20px;
}
.menu > button {
  margin: 10px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex: 70%;
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
