{% extends "registration/layout.html" %}
{%load widget_tweaks%}

{% block body %}
{%if user.is_authenticated == False%}
<div class="row justify-content-center">
  <div class="col-5 text-white bg-dark p-5 border rounded shadow align-self-center">
    <h3 class="text-center mb-5">
      Iniciar sesión
    </h3>
    {% if form.errors %}
      <p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
    {% endif %}
    <form class="form-group" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <p>Usuario: 
          {%render_field form.username class="form-control"%}</p>
        <p>Contraseña: 
          {%render_field form.password class="form-control"%}</p>
      <div class="mt-5 text-center">
        <input class="btn btn-outline-warning" type="submit" value="ACCEDER" />
        <input class="btn btn-outline-warning" type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
    <div class="row">
      <div class="col">
      <p class="mt-5"><a href="{% url 'Users:registrarse' %}" class="text-white">Registrarse</a></p>
      </div>
    </div>
  </div>
</div>
{%else %}
<div class="row justify-content-center">
  <div class="col-5 text-white bg-dark p-5 border rounded shadow text-center">
    <p class="mb-5">El usuario ya se encuentra Logeado.</p>
    <a class="btn btn-outline-warning me-1" href="/">Volver a la página de inicio.</a>
  </div>
</div>
{%endif%}
{% endblock %}